{% extends 'base.html' %}

{% block title %}
Cashiers Page
{% endblock %}

{% block container %}
<div id="cashiers">
    <h3 style="margin-left:15px;">Add information about a cashier</h3>
    <form action="{{ url_for('cashier_results') }}" method='POST' style="margin-left:20px;">
            <div class="form-group">
                <label for="fname">First Name</label>
                <input class="" name="fname">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input name="lname">
            </div>
           <div class="form-group">
                <label>Day Total</label>
                <input  name="daytotal">
            </div> 
            <div class="form-group">
                <label >Day Worked</label>
                <input  name="dayworked" type="date">
            </div>
            <div class="form-group">
                <label>Lane</label>
                <input name="lane">
            </div>
            
            
            <div>
                <button type="submit" name="insertbutton" class="btn btn-default">Insert Data</button>
            </div>
            <p style="margin-left:20px; margin-top: 10px;">{{ data }}</p>
    </form>

    <h3 style="margin-left:15px;">Search Cashier</h3>
    <form action="{{ url_for('cashier_results') }}" method='POST' style="margin-left:20px;">
        <div id="cashiers">
            <div class="form-group">
                <label for="fname">First Name</label>
                <input class="" name="fname">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input name="lname">
            </div>
            <div class="form-group">
                <label>Day Worked</label>
                <input name="dayworked" type="date">
            <div>
                <button name="searchbutton" type="submit" class="btn btn-default">Search</button>
            </div>
            <table class="table table-hover" style="width: 75%; margin-left:15px;">
                <thead>
                   <th>ID</th>
                   <th>first name</th>
                   <th>last name</th>
                   <th>Day Total</th>
                   <th>Day worked</th>
                   <th>Lane</th>
                </thead>

                {% for i in cashier_info %}
                    <tr>
                        <td>{{ i.0 }} </td>
                        <td>{{ i[1] }} </td>
                        <td>{{ i[2] }} </td>
                        <td>{{ i[3] }} </td>
                        <td>{{ i[4] }} </td> 
                        <td>{{ i[5] }} </td>
                    </tr>

                {% endfor %}
            </table>

            <div>
                <h3>Delete a Cashier</h3>
                <label for="">Cashier ID</label>
                <input type="text">
                <button>Delete</button>
            </div>
        </div>
    </form>
    
</div>
<div>
    
    <a href="/" style="margin-left:20px;">Back to Home</a>
    <br>
    <br>
</div>
{% endblock %}
