{% extends 'base.html' %}

{% block title %}
Customers-Rewards Page
{% endblock %}

{% block container %}
    <h3 style="margin-left:15px;">Create data for a customer's reward options</h3>

    <form action="{{ url_for('customers_rewards_results') }}" method="POST" style="margin-left:20px;">
    <div id="customers-rewards">
        <div class="form-group">
            <label>options</label>
            <input name="options">
        </div>
        <div>
            <button>Submi</button>
        </div>
    </div>
    <a href="/">Back to Home</a>

    </form>
{% endblock %}
