{% extends 'base.html' %}

{% block title %}
Customers Page
{% endblock %}

{% block container %}
    <div id="customers">
        <div>
            <label>First Name</label>
            <input name="fname">
        </div>
        <div>
            <label>Last Name</label>
            <input name="lname">
        </div>
       <div>
           <label>Phone</label>
            <input name="phone">
        </div>
        <div>
            <label>Email</label>
            <input name="email">
        </div>
        <div>
            <button>Submit</button>
        </div>
    </div>
    <a href="/">Back to Home</a>

    </form>
{% endblock %}
