<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/style/mycss.css') }}" type="text/css"/>
    <!-- <meta> -->
    <!-- <meta name="viewport" content="width=device-width, inital-scale=1.0"  charset="UTF-8"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
</head>
<h1>Grocery DB</h1>
<h2>Home Page</h2>
<body>
    <div class="menu">
    <nav class="content" id="navbar" >
        <ul>
        <li>
            <label for="customerlink"></label>
            <a href="/customers" id="customerlink">Go to Customers Page</a>
        </li>
        <li>
            <label for="purchaselink"></label>
            <a href="/purchases" id="purchaselink">Go to Purchases Page</a><br>
        </li>
        <li>
            <label for="productslink"></label>
            <a href="/products" id="productslink">Go to Products Page</a><br>
        </li>
        <li>
            <label for="cashierslink"></label>
            <a href="/cashiers" id="cashierslink">Go to Cashiers Page</a><br>
        </li>
        <li>
            <label for="rewardslink"></label>
            <a href="/rewards" id="rewardslink">Go to Rewards Page</a>
        </li>
        </ul>
    </nav>
    <ul>
    <li>The Customer Page will allow the user to insert data to the Customers table and query or update customer information.</li>
    <li>The Purchases Page will be able to search, add, and delete purchases made by Customers.</li>
    <li>The Products Page will be able to add and search any products.</li>
    <li>The Cashiers Page will be able to add Cashiers and their daily totals to the database, and search cashier infomation.</li>
    <li>The Rewards Page will be able to add and retrieve the rewards options.</li>
    </ul>
</div>
</body>
</html>



