{% extends 'base.html' %}


{% block title %}
Home Page
{% endblock %}

{% block container %}
<h2 style="margin-left: 15px;">Home Page</h2>
    <nav class="navbar navbar-default" id="navbar" >
        <div class="container-fluid" id="links">
            <div class="navbar-header" id="navbarheader" >
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <label for="customerlink"></label>
                    <a href="/customers" id="customerlink">Go to Customers Page</a>
                </li>
                <li>
                    <label for="purchaselink"></label>
                    <a href="/purchases" id="purchaselink">Go to Purchases Page</a><br>
                </li>
                <li>
                    <label for="productslink"></label>
                    <a href="/products" id="productslink">Go to Products Page</a><br>
                </li>
                <li>
                    <label for="cashierslink"></label>
                    <a href="/cashiers" id="cashierslink">Go to Cashiers Page</a><br>
                </li>
                <li>
                    <label for="rewardslink"></label>
                    <a href="/rewards" id="rewardslink">Go to Rewards Page</a>
                </li>
            </ul>
        </div>
    </nav>

    <div>
        <section>
                <ul>
                    <li>
                        The Customer Page will allow the user to insert data to the Customers table and query or update customer information.
                    </li>
                    <li>
                        The Purchases Page will be able to search, add, and delete purchases made by Customers.
                    </li>
                    <li>
                        The Products Page will be able to add and search any products.
                    </li>
                    <li>
                        The Cashiers Page will be able to add Cashiers and their daily totals to the database, and search cashier infomation.
                    </li>
                    <li>
                        The Rewards Page will be able to add and retrieve the rewards options.
                    </li>
                </ul>
        </section>
    </div>
{% endblock %}
