{% extends 'base.html' %}
{% block title %}
Products Page
{% endblock %}
{% block container %}
<form action="{{ url_for('products_results') }}" METHOD="POST" style="margin-left:20px">
    <h3>Add information about a product</h3>
    <div id="products">
        <div class="form-group">
            <label>Name</label>
            <input name="productname1" required>
        </div>
        <div class="form-group">
            <label>Product Price</label>
            <input name="productprice" required>
        </div>
        <div class="form-group">
            <label>Stock</label>
            <input name="stock" required>
        </div>
        <div class="form-group">
            <label>Type</label>
            <input name="type" required>
        </div>
        <div>
            <button name="insertbutton">Insert Product Information</button>
        </div>
    </div>
    <br>
    
    </form>
    
    <form action="{{ url_for('products_results') }}" METHOD="POST" style="margin-left:20px">
    <br>
    <br>
    
    <br>
    <h3>Delete a Product</h3>
    <label for="deleteproduct">ID</label>
    <input name="deleteproduct">
    <button name="deletebutton">Delete</button>

    <h3>Search a Product</h3>
    <label>Name</label>
    <input name="searchproduct">
    <button name="searchbutton">Search</button>
    <button name="showallbutton">Show all</button>
    <h3>Current products</h3>
    <table border='1'>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Type</th>
        </thead>
        <tbody>
            {% for r in rows %}
            <tr>
                <!-- <td> {{ r[4] }}</td> -->
                <td> {{ r.0 }}</td>
                <td> {{ r[1] }}</td>
                <td> {{ r[2] }}</td>
                <td> {{ r[3] }}</td>
                <td> {{ r[4] }}</td>
                <!-- <td> <input type='button' name='Update' value='Update'> </td> -->
                <!-- <td> <input type='button' name='Delete' value='Delete' > </td> -->
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>
    <a id="backtohome" href="/">Back to Home</a>
{% endblock %}
